<motif name='easter symbol'>
	<features>
		<feature>Bunny</feature>
		<feature>Easter Symbol</feature>
		<feature>Easter Egg</feature>
		<feature>Chocolate</feature>
		<feature>Easter Bunny</feature>
	</features>
</motif>