<motif name="formal dress">
	<features>
		<feature>suit</feature>
		<feature>formal dress</feature>
		<feature>dress</feature>
		<feature>tie</feature>
		<feature>tuxedo</feature>
	</features>
</motif>