<theme name="hedonism">
	<required>
		<theme-component>pleasure</theme-component>
	</required>
	<optional>
		<motif-component>sex</motif-component>	
		<motif-component>drink</motif-component>
		<motif-component>food</motif-component>
		<motif-component>drugs</motif-component>
	</optional>
</theme>