<theme name='love'>
	<required>
		<motif-component>Lover</motif-component>
	</required>
	<optional>
		<theme-component>Frienship</theme-component>
		<theme-component>Marriage</theme-component>
		<theme-component>Romance</theme-component>
		<motif-component>sex</motif-component>
		<motif-component>embrace</motif-component>
		<motif-component>greeting</motif-component>
		<motif-component>goodbye</motif-component>
		<motif-component>kiss</motif-component>
	</optional>
</theme>