<theme name="parenthood">
	<required>
	</required>
	<optional>
		<motif-component>birth</motif-component>
		<motif-component>mother</motif-component>
		<motif-component>father</motif-component>
		<motif-component>child</motif-component>
		<motif-component>care</motif-component>
	</optional>
</theme>