<motif name="sibling">
	<features>
		<feature>brother</feature>
		<feature>sister</feature>
		<feature>sibling</feature>
	</features>
</motif>