<theme name='spring'>
	<required>
		<theme-component>rebirth</theme-component>
		<motif-component>sun</motif-component>
	</required>
	<optional>
		<theme-component>easter</theme-component>
		<motif-component>flower</motif-component>
	</optional>
</theme>