<theme name="winter">
	<required>		
	</required>
	<optional>
		<motif-component>cold</motif-component>
		<motif-component>snow</motif-component>
		<motif-component>warm clothing</motif-component>
		<motif-component>christmas symbol</motif-component>
	</optional>
</theme>